---
hostname: {{ ansible_hostname }}
os_family: {{ ansible_os_family }}
distribution: {{ ansible_distribution }}
distribution_version: {{ ansible_distribution_version }}
architecture: {{ ansible_architecture }}
processor_count: {{ ansible_processor_count }}
memory_total_mb: {{ ansible_memtotal_mb }}
